<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:int-jms="http://www.springframework.org/schema/integration/jms"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:integration="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
        http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd
        http://www.springframework.org/schema/integration/jms http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<integration:annotation-config />
	<import resource="jms-listener-container-config.xml" />

	<int-jms:message-driven-channel-adapter
		id="inRecvJMSAdapater" container="messageListenerContainer"
		channel="inRecvChannel" pub-sub-domain="${systemProperties['spring.activemq.topic'] ? true : false}"
		/>

	<int-jms:outbound-channel-adapter
		id="jmsSendAdapter" channel="outSendChannel"
		connection-factory="connectionFactory" destination="sendQueue"
		delivery-persistent="true" pub-sub-domain="${systemProperties['spring.activemq.topic'] ? true : false}"
		session-transacted="true"></int-jms:outbound-channel-adapter>
	<integration:channel id="inRecvChannel">
		<integration:interceptors>
			<integration:wire-tap channel="logger" />
		</integration:interceptors>
	</integration:channel>
	<integration:channel id="outSendChannel" />
	<integration:channel id="errorChannel" />
		<integration:channel id="recvChannel" />
	
	<integration:logging-channel-adapter
		id="logger" level="DEBUG" />

	<integration:gateway
		default-request-channel="outSendChannel" error-channel="errorChannel"
		service-interface="com.example.demo.services.AMQSender">
	</integration:gateway>
	<!-- <integration:gateway service-interface="com.example.demo.services.AMQReceiver" 
		default-request-channel="inRecvChannel" /> -->
	<integration:service-activator
		id="jmsRecvServiceActivator" input-channel="inRecvChannel" output-channel="recvChannel"
		ref="receiveService" method="processMsg" />

	<integration:service-activator
		id="mesgRecvActivator" input-channel="recvChannel"
		ref="messageReceiverService" method="receiveMsg" />

	<integration:service-activator
		id="errorServiceActivator" input-channel="errorChannel"
		ref="exceptionHandler" method="handleError" />

</beans>
